# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

NODE_ENV=development
APP_HOST=127.0.0.1
APP_PORT=3000

# DB
DATABASE_URL="postgresql://homestead:homestead@localhost:5432/dbname?schema=public"

# JWT
JWT_SECRET_KEY="xxx"
JWT_EXPIRES_IN=3600
JWT_REFRESH_EXPIRES_IN=36000

# REDIS
REDIS_HOST=localhost
REDIS_PREFIX=nest-api
REDIS_PORT=6379
REDIS_TTL=5
REDIS_DB=1
REDIS_PASSWORD=password

# NEW RELIC
NEW_RELIC_ENABLED=false
NEW_RELIC_APP_NAME=
NEW_RELIC_LICENSE_KEY=

# Commons
NUMBER_OF_RUN_QUEUE=3
